@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    padding: left 200px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-image: url(../images/backgroundcolor1.jpg);
    cursor: pointer;
    
    &__links {
        display: flex; 
        justify-content:space-between;
        
    }
   
    &__container {

              
        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
            padding-bottom: 9px;
            display: flex; 
            justify-content:space-between;
            
        }
    }
}

       
    