@use 'variaveis';

.poema {
    text-align: center;
    font-size: 17px;
    background-image: url(../images/backgroundcolor1.jpg);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 30px;

           &--estrofes {
            color: variaveis.$corDeTexto; 
            text-align: center;
            font-size: 16px;
    
            @media screen and (max-width: 768px) {
                align-items: center;
                text-align: center;
                color: variaveis.$corDeTexto;
                padding-top: 16px; 
                padding-bottom: 30px;
            }
        }
}
