@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'available-devices'; 
@use 'faq';
@use 'footer';
@use 'header';
@use 'poema';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body {
    background-color: black;
     @media (max-width: 768px) {
        overflow-y:scroll;
        overflow-x:hidden;
        
    }
}

